<div class="flex h-screen">
  <nav class="sidebar-nav w-48 flex-shrink-0">
    <div class="p-2">
      <a [routerLink]="['/']" class="block p-2 text-center hover:bg-gray-300 mt-2">
        <i class="text-sky-500 fas fa-laptop text-xl"> See All Products </i>
      </a>
    </div>
    <div class="p-2" *ngFor="let categorie of categories">
      <a
        [routerLink]="['/user', 'product', categorie.categoryId]"
        class="block p-2 text-center hover:bg-gray-300 mt-2"
      >
        <i class="text-sky-500 fas fa-laptop text-xl">{{ categorie.categoryName }}</i>
      </a>
    </div>
  </nav>
  <button
    *ngIf="isLoggedIn"
    [routerLink]="['/admin']"
    class="fixed bottom-4 left-4 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
  >
    Go to Admin Page
  </button>
  <button
    *ngIf="!isLoggedIn"
    [routerLink]="['/login']"
    class="fixed bottom-4 left-4 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
  >
    Login
  </button>
</div>