.sidebar-nav {
    background-color: #dbeafe; 
  }
  
  .sidebar-nav a {
    color: #1e3a8a;
    display: block;
    padding: 0.5rem 0;
    text-align: center;
    text-decoration: none;
  }
  
  .sidebar-nav a:hover {
      background-color: #bfdbfe; 
  }