/* src/app/sidebar/sidebar.component.scss */
.sidebar-nav {
  background-color: #dbeafe;
  display: flex; /* Enable flex layout */
  flex-direction: column; /* Stack items vertically */
  height: 100%; /* Take full height of parent */
  overflow-y: auto; /* Enable vertical scrolling */
}

.sidebar-nav a {
  color: #1e3a8a;
  display: block;
  padding: 0.5rem 0;
  text-align: center;
  text-decoration: none;
}

.sidebar-nav a:hover {
  background-color: #bfdbfe;
}