<div class="w-full">
    <div class="flex items-center justify-center">
      <div class="mr-4 flex items-center">
        <input
          type="text"
          placeholder="Search products..."
          class="px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500"
          [(ngModel)]="searchQuery"
        />
        <button
          class="ml-2 px-4 py-2 bg-blue-300 hover:bg-blue-400 text-gray-800 rounded-md"
          (click)="onSearch()"
        >
          Search
        </button>
      </div>
  
      <div class="mr-4">
        <select
          class="px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500"
          (change)="onSortChange($event)"
        >
          <option value="">Sort by</option>
          <option value="price-low-to-high">Price: Low to High</option>
          <option value="price-high-to-low">Price: High to Low</option>
          </select>
      </div>
      <div class="mr-auto"></div>
  
      <div>
        <app-shopping-cart></app-shopping-cart>
      </div>
    </div>
  </div>