<div class="p-6 bg-white rounded-lg shadow-md w-full max-w-md">
  <div class="text-center font-bold text-2xl mb-6">Add a New Product</div>

  <form #productForm="ngForm" (ngSubmit)="onSubmit()" class="grid grid-cols-1 gap-4">
    <div>
      <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        [(ngModel)]="product.name"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      />
      <p *ngIf="nameError" class="text-red-500 text-xs italic">{{ nameError }}</p>
    </div>

    <div>
      <label for="description" class="block text-gray-700 text-sm font-bold mb-2">Description:</label>
      <textarea
        id="description"
        name="description"
        [(ngModel)]="product.description"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      ></textarea>
      <p *ngIf="descriptionError" class="text-red-500 text-xs italic">
        {{ descriptionError }}
      </p>
    </div>

    <div>
      <label for="price" class="block text-gray-700 text-sm font-bold mb-2">Price:</label>
      <input
        type="number"
        id="price"
        name="price"
        [(ngModel)]="product.price"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      />
      <p *ngIf="priceError" class="text-red-500 text-xs italic">{{ priceError }}</p>
    </div>

    <div>
      <label for="quantityInStock" class="block text-gray-700 text-sm font-bold mb-2">
        Quantity in Stock:
      </label>
      <input
        type="number"
        id="quantityInStock"
        name="quantityInStock"
        [(ngModel)]="product.quantityInStock"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      />
      <p *ngIf="quantityError" class="text-red-500 text-xs italic">
        {{ quantityError }}
      </p>
    </div>

    <div>
      <label for="imageUpload" class="block text-gray-700 text-sm font-bold mb-2">
        Image Upload:
      </label>
      <input
        type="file"
        id="imageUpload"
        name="imageUpload"
        accept=".png"
        (change)="onFileSelected($event)"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        #fileInput
      />
      <small class="text-gray-500 inline">Only PNG files are accepted.</small>
      <img
        *ngIf="imagePreview"
        [src]="imagePreview"
        alt="Image Preview"
        class="mt-2 w-32 h-32 object-cover rounded"
      />
      <p *ngIf="imageError" class="text-red-500 text-xs italic">{{ imageError }}</p>
    </div>

    <div>
      <label for="category" class="block text-gray-700 text-sm font-bold mb-2">
        Category:
      </label>
      <select
        name="category"
        [(ngModel)]="product.category"
        (change)="onCategoryChange()"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      >
        <option [ngValue]="{ categoryName: 'Select Category' }" disabled selected>
          Select a category
        </option>
        <option *ngFor="let category of categories" [ngValue]="category">
          {{ category.categoryName }}
        </option>
      </select>
      <p *ngIf="categoryError" class="text-red-500 text-xs italic">
        {{ categoryError }}
      </p>
    </div>

    <div class="flex justify-center">
      <button
        type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      >
        Add Product
      </button>
    </div>
  </form>

  <div *ngIf="productAddStatus === true" class="mt-4 text-green-500 text-center">
    Product added successfully!
  </div>
  <div *ngIf="productAddStatus === false" class="mt-4 text-red-500 text-center">
    Error adding product. Please try again.
  </div>
</div>